@page
@model AutoSenderEmail.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
			<th>
				Check
			</th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Theme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Client) {
        <tr>
			<th>
				@Html.CheckBox("Help", false)
			</th>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
	<div class="col-10">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input type="submit" value="Send messages" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>