@page
@model AutoSenderEmail.Pages.Email.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmailModel</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EmailModel.Subject)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EmailModel.Subject)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EmailModel.From)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EmailModel.From)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EmailModel.To)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EmailModel.To)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EmailModel.Body)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EmailModel.Body)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EmailModel.SendDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EmailModel.SendDate)
		</dd>
	</dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmailModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
